.content {
    padding: 20px 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.content video {
    max-height: 350px;
    width: auto;
    border-radius: 20px;
    box-shadow: -5px 5px 10px 0 #666;
}
